.portfolio-section {
	min-height: 100vh;
	background-size: cover;
	margin: auto;

}

.portfolio-section section {
	padding: 120px 150px;
}

.portfolio-section section .line {
	display: inline-block;
	width: 16px;
	height: auto;
	border: 2px solid;
	vertical-align: middle;
}

.portfolio-section section div p {
	display: inline-block;
	width: auto;
	margin: 0;



	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-size: 20px;
	letter-spacing: -0.05em;
}

.portfolio-section section h1 {


	font-family: 'Didact Gothic', sans-serif;
	font-style: normal;
	font-size: 112px;
	line-height: 147px;

	margin: 20px 0 0 0;
}

.portfolio-section section h2 {
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.05em;

	margin: 40px 0 0 0;
}

.portfolio-section section .button {
	margin: 80px 0 0 0;
}

.portfolio-section section section {
	margin: 0;
	padding: 0;
}

.portfolio-section section section h3 {
	display: block;

	font-family: 'Fjalla-One', sans-serif;
	font-style: normal;
	font-size: 165px;

	text-align: right;
	letter-spacing: -0.02em;
	text-transform: uppercase;

	opacity: 0.2;

	margin: 0;
}

.portfolio-section-light {

	background-size: cover;
	margin: auto;

}

/********************************/
/*			light theme			*/
/********************************/

.light {
	color: #666666;
	border-color: #666666;

	overflow: auto;
}

.light section div .line{
	border-color: #666666;
}

.light section div p{
	color: #666666;
}

.light section h1 {
	color: black;
}

.light section h2 {
	color: #666666;
}

.light section .button{
	border-color: black;
}

.light section .button a{
	color: black;
}

.light section .button:hover{
	background-color: black;
	border-color: black;
}

.light section .button:hover a{
	color: white;
}

.light section .button:hover {
	background-color: black;
	border-color: black;

	//filter: drop-shadow(0px 0px 20px black);
}

.light section .button:hover + section h3{
	color: Black;
	opacity: 100%;

	//filter: drop-shadow(0px 0px 40px black);
}

.light section section h3 {
	color: #666666;
	opacity: 0.9;
}

/********************************/
/*			dark theme			*/
/********************************/

.dark {
	color: #9E9E9E;
	border-color: #9E9E9E;
}

.dark section div .line{
	border-color: #9E9E9E;
}

.dark section div p{
	color: #9E9E9E;
}

.dark section h1 {
	color: white;
}

.dark section h2 {
	color: #9E9E9E;
}

.dark section .button{
	border-color: #9E9E9E;
}

.dark section .button a{
	color: white;
}

.dark section .button:hover{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	filter: drop-shadow(0px 0px 20px white);
}

.dark section .button:hover a{
	color: black;
}

.dark section .button:hover {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.dark section .button:hover + section h3{
	color: white;
	opacity: 100%;
	filter: drop-shadow(0px 0px 40px white);
}

.dark section section h3 {
	color: #9E9E9E;
	opacity: 0.2;
}